@import "tools/mixins";


$PrimaryColor:#3498db;
$SecondaryColor:#7f8c8d;

/*------------------------------------*\
    $Reset
\*------------------------------------*/

@import "tools/reset";

/*------------------------------------*\
    $Base
\*------------------------------------*/

@import "base/base";
@import "base/img";
@import "base/btn";

/*------------------------------------*\
    $Layout
\*------------------------------------*/

$width:100%;
@import "layout/container";
@import "layout/grid";

/*------------------------------------*\
    $Modules
\*------------------------------------*/
